# Database
DB_NAME=telescope_db
DB_USER=postgres
DB_PASSWORD=password
DB_HOST=db
DB_PORT=5432

# Backend
DJANGO_SECRET_KEY=your-secret-key
DJANGO_ENV=development
BACKEND_PORT=8000
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# Frontend
BACKEND_API_URL=http://localhost:8000
FRONTEND_PORT=3000
